/* fonts */

@font-face {
  font-family: 'Butler-Black';
  src: url('../Assets/Fonts/Butler-Black.woff2') format('woff2'),
    url('../Assets/Fonts/Butler-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('../Assets/Fonts/Butler.woff2') format('woff2'),
    url('../Assets/Fonts/Butler.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.light {
  background-color: #f7f7f7;
  color: #0f0f0f;
}

body.normal {
  overflow: auto;
}

body.hidden {
  overflow: hidden;
}

/* Custom Scroll bar */

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0f0f0fcc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0f0f0f;
}

/* Toggle btn */

.theme-toggle {
  display: block;
  position: fixed;
  bottom: 50px;
  right: 0;
  width: 60px;
  height: 50px;
  border-radius: 20px 0 0 20px;
  border: 0;
  cursor: pointer;
  transition: all 400ms ease;
  overflow: hidden;
  z-index: 100;
}

.theme-toggle.dawn {
  background: #f7f7f7;
  filter: drop-shadow(3.4px 3.4px 3.4px #b7b1b5) drop-shadow(-3.4px -3.4px 3.4px #dcdcdc);
  box-shadow: inset 4.3px 4.3px 7px #fff;
}

.theme-toggle.dawn .toggle-glyph {
  fill: #1f242a;
  transform: rotate(360deg);
}

.theme-toggle.dusk .toggle-glyph:hover,
.theme-toggle.dawn .toggle-glyph:hover {
  fill: #ffa001;
}

.toggle-glyph {
  text-align: center;
  width: 24px;
  margin: 15px auto;
  transition: all 400ms ease;
}

.toggle-glyph svg {
  display: block;
  transform: scale(1.35);
}

/* nav bar */

nav {
  position: relative;
  z-index: 90;
  width: 100%;
  height: 80px;
}

.nav-brand {
  position: absolute;
  font-size: 1.65em;
  font-weight: 600;
  font-family: 'Butler', serif;
  padding: 20px;
}

.drawer-list {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 40vw;
  transform: translate(100vw, 0);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
  border-bottom-left-radius: 100vw;
  z-index: 90;
}

.drawer-list.light {
  background-color: #f0f0f0e6;
}

.drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.drawer-list li {
  list-style: none;
  pointer-events: auto;
  white-space: nowrap;
  box-sizing: border-box;
  transform: translatex(100vw);
}

.drawer-list li a {
  font-weight: 500;
  font-family: 'Butler', serif;
  text-decoration: none;
  text-align: right;
  display: block;
  padding: 1rem;
  font-size: 50px;
  cursor: pointer;
}

.drawer-list.light li a {
  color: #0f0f0f;
}

.drawer-list.light li a:hover {
  background-color: #f7f7f7cc;
}

.hamburger {
  display: none;
}

.hamburger:checked~.drawer-list {
  transform: translatex(0);
  border-bottom-left-radius: 0;
}

.hamburger:checked~.drawer-list li {
  transform: translatex(0);
}

.hamburger:checked~.drawer-list li:nth-child(1) {
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.hamburger:checked~.drawer-list li:nth-child(2) {
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.hamburger:checked~.drawer-list li:nth-child(3) {
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.hamburger:checked~.drawer-list li:nth-child(4) {
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}

.hamburger:checked~.drawer-list li a {
  padding-right: 30px;
}

.hamburger:checked~label>i {
  background-color: transparent;
  transform: rotate(90deg);
}

.hamburger:checked~label>i:before {
  transform: translate(-50%, -50%) rotate(315deg);
}

.hamburger:checked~label>i:after {
  transform: translate(-50%, -50%) rotate(-315deg);
}

.hamburger:checked~label close {
  width: 100%;
}

.hamburger:checked~label open {
  width: 0;
}

.hamburger-icon {
  position: fixed;
  display: block;
  top: 15px;
  right: 15px;
  height: 30px;
  width: 50px;
  z-index: 100;
  cursor: pointer;
}

.hamburger-icon text close,
.hamburger-icon text open {
  position: absolute;
  text-align: center;
  font-weight: 600;
  font-family: 'Butler';
  font-size: 0.7em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  transform: translateY(35px);
  transition: width 0.25s 0.25s;
  overflow: hidden;
}

.hamburger-icon text close {
  right: 0;
  width: 0;
}

.hamburger-icon text open {
  width: 100%;
}

.hamburger-icon.light>i {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  background-color: #0f0f0f;
  pointer-events: auto;
  transition: transform 0.35s 0.35s;
}

.hamburger-icon.light>i:before,
.hamburger-icon.light>i:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 65%;
  height: 3px;
  display: block;
  background-color: #0f0f0f;
  transition: transform 0.35s;
  transform-origin: 50% 50%;
}

.hamburger-icon>i:before {
  transform: translate(-50%, -14px);
}

.hamburger-icon>i:after {
  transform: translate(-50%, 14px);
}

/* main page / section 1 */

.main-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.main-text {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: justify;
  width: 100%;
  min-height: 100vh;
  padding: 0 50px;
}

.main-text h1 {
  font-size: 125px;
  font-family: 'Butler-Black', serif;
}

.main-text p {
  margin: 30px 30px 0 0;
  font-size: 20px;
  font-family: 'EB Garamond', serif;
  word-spacing: 0.4rem;
  line-height: 2.0rem;
}

.main-img {
  width: 100%;
  text-align: center;
}

.normal img {
  width: 90%;
  filter: invert(0);
}

.invert img {
  width: 90%;
  filter: invert(1);
}

.btn {
  margin: 30px 50px 0 0;
  padding: 15px 30px;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.25s;
  font: 800 18px "Butler";
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.btn.light {
  color: #696969;
  background-color: #f7f7f7;
  filter: drop-shadow(3.4px 3.4px 3.4px #b7b1b5) drop-shadow(-3.4px -3.4px 3.4px #dcdcdc);
  box-shadow: inset 4.3px 4.3px 7px #fff;
}

.btn.light:hover {
  color: #242424;
  filter: drop-shadow(5px 5px 3.4px #b7b1b5);
  box-shadow: inset 2.5px 2.5px 2.5px #fff;
}

.btn.light:active {
  filter: drop-shadow(0px 0px 0px #b7b1b5);
  box-shadow: inset 4.3px 4.3px 7px #b7b1b5;
}

/* section 2 - 3 */

h2 {
  font-size: 60px;
  font-family: 'Butler-Black', monospace;
  letter-spacing: 0.5rem;
  text-align: center;
}

.button {
  height: 200px;
  width: 400px;
  border-radius: 50px;
  margin: 3rem 0;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.25s;
  font: 30px "Butler-Black";
  letter-spacing: 0.2rem;
  padding: 50px;
}

.notes-link.light {
  color: #696969;
  background-color: #f7f7f7;
  filter: drop-shadow(3.4px 3.4px 3.4px #b7b1b5) drop-shadow(-3.4px -3.4px 3.4px #dcdcdc);
  box-shadow: inset 4.3px 4.3px 7px #fff;
}

.notes-link.light:hover {
  color: #242424;
  filter: drop-shadow(5px 5px 3.4px #b7b1b5);
  box-shadow: inset 2.5px 2.5px 2.5px #fff;
}

.notes-link.light:active {
  filter: drop-shadow(0px 0px 0px #b7b1b5);
  box-shadow: inset 4.3px 4.3px 7px #b7b1b5;
}

/* footer */

footer {
  font-weight: 400;
  font-family: 'Butler';
  padding: 15px 0;
  letter-spacing: 1px;
  text-align: center;
}

footer.light {
  background-color: #cccccc;
}

/* Dark Mode Classes */

body.dark {
  background-color: #202020;
  color: #f7f7f7;
}

.theme-toggle.dusk .toggle-glyph {
  transform: rotate(180deg);
  fill: #f7f7f7;
}

.drawer-list.dark {
  background-color: #292929e6;
}

.drawer-list.dark li a {
  color: #f7f7f7;
}

.drawer-list.dark li a:hover {
  cursor: pointer;
  background-color: #202020;
}

.hamburger-icon.dark>i {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  background-color: #f7f7f7;
  pointer-events: auto;
  transition: transform 0.35s 0.35s;
}

.hamburger-icon.dark>i:before,
.hamburger-icon.dark>i:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 65%;
  height: 3px;
  display: block;
  background-color: #f7f7f7;
  transition: transform 0.35s;
  transform-origin: 50% 50%;
}

.notes-link.dark,
.btn.dark,
.theme-toggle.dusk {
  color: #999999;
  background: #292929;
  filter: drop-shadow(3.4px 3.4px 3.4px #232323) drop-shadow(-3.4px -3.4px 3.4px #1a1a1a);
  box-shadow: inset 4.3px 4.3px 7px #2f2f2f;
}

.notes-link.dark:hover,
.btn.dark:hover {
  color: #f7f7f7;
  filter: drop-shadow(3px 5px 3.4px #232323);
  box-shadow: inset 2.5px 2.5px 2.5px #373737;
}

.notes-link.dark:active,
.btn.dark:active {
  color: #f7f7f7;
  filter: drop-shadow(0px 0px 0px #ffffff1a);
  box-shadow: inset 4.3px 4.3px 7px #000000cc;
}

footer.dark {
  background-color: #282828;
}

/* media query */
@media (max-width: 1150px) {
  .main-text h1 {
    font-size: 100px;
    font-family: 'Butler-Black', serif;
  }

  .main-text p {
    margin: 30px 30px 0 0;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    word-spacing: 0.4rem;
    line-height: 2.0rem;
  }
}

@media screen and (max-width: 786px) {
  .drawer-list {
    width: 100vw;
  }

  .drawer-list li a {
    text-align: center;
  }

  .hamburger-icon {
    transform: scale(0.85);
  }

  .main-page {
    flex-direction: column-reverse;
  }

  .main-text h1 {
    font-size: 80px;
    text-align: center;
  }

  h2 {
    font-size: 48px;
  }

  .normal img {
    width: 70%;
  }

  .btn-box {
    text-align: center;
  }

  .btn {
    margin: 30px 50px 0 0;
  }

  .btn:last-child {
    margin: 30px 0 0 0;
  }

  .button {
    height: 180px;
    width: 340px;
    border-radius: 50px;
    margin: 3rem 0;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
    font: 27px "Butler-Black";
    letter-spacing: 0.2rem;
    padding: 50px;
  }

  footer {
    font-size: 15px;
  }
}