/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

@font-face {
  font-family: "muli";
  src: url("../Assets/Fonts/muli-regular.woff2") format("woff2"),
    url("../Assets/Fonts/muli-regular.woff") format("woff");
}

@font-face {
  font-family: "spacemono";
  src: url("../Assets/Fonts/spacemono-regular.woff2") format("woff2"),
    url("../Assets/Fonts/spacemono-regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overflow {
  overflow-x: hidden;
}

/* Custom Scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0f0f0fcc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0f0f0f;
}

/* Navbar */

.navbar-style {
  background-color: rgb(20, 20, 20);
}

.navbar-style a {
  margin: auto 25px;
}

.nav-brand {
  display: inline-flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

.nav-brand p {
  font: 35px "Fredericka the Great";
  color: #f8f8f8;
  margin: 0 5px;
}

.nav-brand img {
  width: 20%;
}

.nav-link {
  color: #f8f8f8;
  text-decoration: none;
  font: 300 25px "spacemono";
}

.nav-link:hover {
  color: #a77295;
}

/* main page / section 1 */

.wrapper {
  display: flex;
  flex-direction: row;
  background-image: url("../Assets/Images/Vorderrhein.svg");
  background-blend-mode: soft-light;
  background-color: #b7b1b5;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
  color: #0f0f0f;
  height: 90vh;
  width: 100%;
  padding: 50px;
}

.main-text h1 {
  font: 600 100px "Oswald";
  letter-spacing: 1rem;
}

.main-text p {
  font: 300 25px "spacemono";
  word-spacing: 0.6rem;
  line-height: 2.5rem;
}

.main-img {
  display: flex;
  align-items: left;
  justify-content: center;
  width: 100%;
}

.main-img img {
  width: 100%;
}

/* section 2 - 3 */

#section-2,
#section-3 {
  background-image: url(../Assets/Images/swirl_pattern.png);
}

h2 {
  background: #f8f8f8c0 url(../Assets/Images/Vorderrhein.svg);
  background-position: center;
  font: 600 60px "Oswald";
  letter-spacing: 0.6rem;
  text-align: center;
  color: #0f0f0f;
}

.button {
  height: 200px;
  width: 400px;
  border-radius: 50px;
  margin: 3rem 0;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
}

.notes-link {
  text-decoration: none;
  font: 600 30px "spacemono";
  letter-spacing: 0.2rem;
  padding: 50px;
  color: #0f0f0f;
  text-align: center;
  background-color: #f0f0f0;
  filter: drop-shadow(3.4px 3.4px 3.4px #b7b1b5) drop-shadow(-3.4px -3.4px 3.4px #dcdcdc);
  -webkit-filter: drop-shadow(3.4px 3.4px 3.4px #b7b1b5) drop-shadow(-3.4px -3.4px 3.4px #f7f7f7);
  box-shadow: inset 4.3px 4.3px 7px #fff;
}

.notes-link:hover {
  color: #a77295;
  filter: drop-shadow(5px 5px 3.4px #b7b1b5);
  -webkit-filter: drop-shadow(5px 5px 3.4px #b7b1b5);
  box-shadow: inset 2.5px 2.5px 2.5px #fff;
}

.notes-link:active {
  filter: drop-shadow(0px 0px 0px rgb(183, 177, 181));
  -webkit-filter: drop-shadow(0px 0px 0px rgb(183, 177, 181));
  box-shadow: inset 4.3px 4.3px 7px #b7b1b5;
}

/* footer */

footer {
  background-color: #111111;
  padding: 20px;
  font-family: "spacemono";
  color: #f8f8f8;
}
